{% extends "base.html" %}
{% block contenido %} 
    <h1> Listado de alumnos </h1>
    <p>
        <a href={% url "facultad" %}> Registrar alumno</a>
    </p>
    
    {% if facul %}
    <ul>
        {% for facu in facul %}
        <li>
        {{facu}} | <a href={%url "detalle_facultad" facu.id%}>Ver más</a>
        | <a href={%url "modificar_facultad" facu.id%}>Modificar</a>
        | <a href={%url "eliminar_facultad" facu.id%}>Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay alumnos</p>   
    {% endif %}

    {% endblock contenido %}      


